body {
font-family: 'Special Elite', cursive;
background: lightpink;
}
.header_div
{
background: rgb(35, 20, 233);
color: rgb(239, 25, 221);
}
.header_div p
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:chocolate;
letter-spacing: 2px;
font-size: 12px;
font-weight: bold;

}
.mein_div button{
font-family:'Times New Roman', Times, serif ;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}
.copy_right_footer
{
position: fixed;
color: dodgerblue;
bottom: 0;
width: 100%;
font-size: 18px;
background-color: orangered;
line-height: 3;
text-align: center;
text-shadow: 5px 5px 5px rgb(151, 149, 149)
} 